---
layout: page.html
---

<h2 class="text-primary-500">Welcome</h2>

<p>
    To my little place on the internet.
</p>

<ul>
    <li><a href="resume">My current resume</a></li>
    <li><a href="travels">My travels</a></li>
    <li><a href="interesting-links">Some interesting links</a></li>
    <li><a href="wisdom">A compilation of wisdom</a></li>
    <li><a href="words">Eclectic words</a></li>
</ul>
