---
title: Resume
---

<!DOCTYPE html>
<html lang="{{ site.language }}">

<head>
    {% include "head.html" %}
</head>

<body id="top"
      class="font-sans flex flex-col h-screen">
    <header>
        {% include "navbar.html" %}
    </header>

    <main class="bg-white dark:bg-gray-800 flex-grow">
        <iframe id="resume"
                src="https://resume.julian.carrivick.com"></iframe>
    </main>

    {% include "footer.html" %}

    <style>
        #resume {
            width: 100%;
            height: 100%;
        }
    </style>
</body>

</html>
