---
title: My travels
description: Cool trips I've been on
---

<!DOCTYPE html>
<html lang="{{ site.language }}">

<head>
    <link rel="preload"
          href="/vendor/leaflet/leaflet.css"
          as="style" />

    {% include "head.html" %}

    <link rel="stylesheet"
          href="/vendor/leaflet/leaflet.css" />
</head>

<body id="top"
      class="font-sans flex flex-col h-screen">
    <header>
        {% include "navbar.html" %}
    </header>

    <main class="bg-white dark:bg-gray-800 flex-grow">
        <div id="map"></div>
    </main>

    {% include "footer.html" %}

    <style>
        #map {
            width: 100%;
            height: 100%;
        }

        .leaflet-marker-icon.green {
            filter: hue-rotate(260deg)
        }

        .leaflet-marker-icon.orange {
            filter: hue-rotate(150deg)
        }

        .leaflet-marker-icon.purple {
            filter: hue-rotate(60deg)
        }
    </style>
    <script src="/vendor/leaflet/leaflet.js"></script>
    <script>
        let trips = {{ places.been | toJson }};

        function localeEqual(a, b) {
            return a.localeCompare(b, "en", {sensitivity: "accent"}) === 0;
        }

        const searchParams = new URLSearchParams(window.location.search);
        const rawFilteredTripNames = searchParams.get("trips");
        if (rawFilteredTripNames) {
            const filteredTripNames = rawFilteredTripNames.split(",")
            trips = trips.filter(t => filteredTripNames.find(name => localeEqual(t.trip, name)));
        }

        const focussedTripName = searchParams.get("focussed");
        const focussedTrip = typeof focussedTripName === "string"
            ? trips.find(t => localeEqual(t.trip, focussedTripName))
            : null;
        const focussedPlaces = focussedTrip
            ? focussedTrip.places
            : trips.flatMap(t => t.places);

        const map = L.map('map').fitBounds(focussedPlaces.map(p => p.coords), { maxZoom: 9 });
        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);

        const colouredIcons = {};
        function getColouredIcon(colour) {
            if (!colouredIcons[colour]) {
                colouredIcons[colour] = new L.Icon.Default();
                colouredIcons[colour].options.className = colour
            }

            return colouredIcons[colour];
        }

        function ColourLooper() {
            let index = 0;
            const colours = [
                "red", "orange", "#FFD700", "green", "blue", "purple",
            ];

            this.next = function () {
                const colour = colours[index];
                index = (index + 1) % colours.length;
                return colour;

            }
        }
        const lineColours = new ColourLooper();
        // Reverse so colours don't change with every added trip
        for (const t of trips.reverse()) {
            if (t.places.length > 1) {
                const path = t.places.map(p => p.coords);
                L.polyline(path, { color: lineColours.next() }).addTo(map);
            }

            for (const p of t.places.filter(p => p.marker)) {
                const options = {};
                if (p.marker.colour) {
                    options.icon = getColouredIcon(p.marker.colour);
                }

                const marker = L.marker(p.coords, options).addTo(map);

                let html = Array.isArray(p.marker)
                    ? p.marker.map(generateMarkerHtml).join("<br/>")
                    : generateMarkerHtml(p.marker);
                marker.bindPopup(html);
            }
        }
        function generateMarkerHtml(marker) {
            let html = "";
            if (marker.title) {
                html += `<strong>${marker.title}</strong>: `;
            }
            html += marker.text;
            return html;
        }
    </script>
</body>

</html>
