---
layout: page.html
---

<h2>Nuggets of (mostly software) wisdom</h2>

<ul>
    {% for nugget in wisdom %}
    <li><strong>{{nugget.name}}</strong>: {{nugget.explanation}}</li>
    {% endfor %}
</ul>
