---
layout: page.html
---

<h2>Eclectic Words</h2>

<dl>
    {% assign sorted_words = words | sort: "word" %}
    {% for entry in sorted_words %}
    <dt>{{entry.word}} <small class="ml-1 font-normal">({{entry.type}})</small></dt>
    <dd>{{entry.definition}}</dd>
    {% endfor %}
</dl>
