<footer class="bg-gray-50 dark:bg-gray-900 border-t dark:border-gray-700">
    <div class="container px-6 py-8 mx-auto">
        <div class="flex flex-col items-center sm:flex-row sm:justify-between">
            <div class="text-sm text-gray-500 dark:text-gray-300">
                © Julian Carrivick
            </div>

            <div class="flex mt-3 -mx-2 sm:mt-0">
                <a href="https://gitlab.com/juliancarrivick/website"
                   target="_blank"
                   class="mx-2 text-sm text-gray-500 hover:underline dark:text-gray-300 dark:hover:text-white">
                    Source Code
                </a>
            </div>
        </div>
    </div>
</footer>
