<meta charset="utf-8" />
<meta name="viewport"
      content="width=device-width, initial-scale=1" />
<link rel="preload"
      href="/css/page.css"
      as="style" />

<meta http-equiv="X-UA-Compatible"
      content="IE=edge" />
{% if description %}
<meta name="description"
      content="{{ description }}" />
{% endif %}
<meta name="author"
      content="{{ site.author }}" />
<meta name="robots"
      content="index,follow" />

<meta name="theme-color"
      content="#ffffff" />
<title>
    {% if title %}
    {{ title }}
    {% else %}
    {{ site.author }}
    {% endif %}
</title>
<link rel="stylesheet"
      href="/css/page.css" />
<link rel="shortcut icon"
      href="/favicon.ico" />
<link rel="icon"
      type="image/png"
      href="/favicon.png" />
<link rel="apple-touch-icon"
      href="/apple-touch-icon.png" />

<meta name="generator" content="{{ eleventy.generator }}" />