<nav class="bg-gray-50 dark:bg-gray-900 border-b dark:border-gray-700">
    <div class="container px-6 py-4 mx-auto lg:flex lg:justify-between lg:items-center">
        <div class="flex items-center justify-between">
            <div>
                <a class="text-xl font-bold text-gray-800 dark:text-white lg:text-2xl hover:text-gray-700 dark:hover:text-gray-300"
                   href="/">
                    Home
                </a>
            </div>
        </div>
</nav>
