<!DOCTYPE html>
<html lang="{{ site.language }}">

<head>
    {% include "head.html" %}
</head>

<body id="top"
      class="font-sans flex flex-col h-screen">
    <header>
        {% include "navbar.html" %}
    </header>

    <main class="bg-white dark:bg-gray-800 flex-grow">
        <div
             class="mx-auto px-8 py-8 max-w-3xl prose prose-headings:font-semibold prose-headings:text-3xl prose-headings:lg:text-4xl dark:prose-invert">
            {{ content }}
        </div>
    </main>

    {% include "footer.html" %}
</body>

</html>
